In [8]:
import yfinance as yf
import pandas as pd

# Choose stock (Apple in this case)
ticker = "AAPL"

# Download 5 years of daily stock data
df = yf.download(ticker, start="2018-01-01", end="2023-12-31")

# Save to data folder
df.to_csv("../data/aapl_stock.csv")

print("Saved data to ../data/aapl_stock.csv")
df.head()

[*********************100%***********************]  1 of 1 completed

Saved data to ../data/aapl_stock.csv

Price           Close       High        Low       Open     Volume
Ticker           AAPL       AAPL       AAPL       AAPL       AAPL
Date
2018-01-02  40.381001  40.390379  39.677744  39.888723  102223600
2018-01-03  40.373962  40.917816  40.310672  40.444289  118071600
2018-01-04  40.561504  40.664649  40.338807  40.446638   89738400
2018-01-05  41.023300  41.110034  40.566184  40.657607   94640000
2018-01-08  40.870926  41.166292  40.772467  40.870926   82271200

In [3]:
import pandas as pd

df = pd.read_csv("../data/aapl_stock.csv")
print(df.head())
print(df.columns)

        Price              Close                High                 Low  \
0      Ticker               AAPL                AAPL                AAPL
1        Date                NaN                 NaN                 NaN
2  2018-01-02  40.38100051879883   40.39037927837602   39.67774378235682
3  2018-01-03  40.37396240234375   40.91781591685785  40.310671880614436
4  2018-01-04  40.56150436401367  40.664649258385666   40.33880711131893

                 Open     Volume
0                AAPL       AAPL
1                 NaN        NaN
2   39.88872294945866  102223600
3   40.44428878121343  118071600
4  40.446637808563274   89738400
Index(['Price', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')